<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nullcognition.rxandroidexamples" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListFragmentActivity"
            android:label="@string/title_activity_list_fragment" >
        </activity>
        <activity
            android:name=".ListenInOutActivity"
            android:label="@string/title_activity_listen_in_out" >
        </activity>
        <activity
            android:name=".ListeningFragmentActivity"
            android:label="@string/title_activity_listening_fragment" >
        </activity>
        <activity
            android:name=".RetainedFragmentActivity"
            android:label="@string/title_activity_retained_fragment" >
        </activity>
        <activity
            android:name=".LifecycleObservableActivity"
            android:label="@string/title_activity_lifcycle_observable" >
        </activity>
        <activity
            android:name=".UIBindingActivity"
            android:label="@string/title_activity_uibinding" >
        </activity>
    </application>

</manifest>
