<?xml version="1.0" encoding="utf-8"?>
<manifest package = "com.nullcognition.rxandroidexamples"
          xmlns:android = "http://schemas.android.com/apk/res/android"
	>

	<application
		android:allowBackup = "true"
		android:icon = "@mipmap/ic_launcher"
		android:label = "@string/app_name"
		android:theme = "@style/AppTheme"
		>
		<activity
			android:label = "@string/title_activity_list_fragment"
			android:name = ".RXAndroidExamples.ListFragmentActivity"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_listen_in_out"
			android:name = ".RXAndroidExamples.ListenInOutActivity"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_listening_fragment"
			android:name = ".RXAndroidExamples.ListeningFragmentActivity"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_retained_fragment"
			android:name = ".RXAndroidExamples.RetainedFragmentActivity"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_lifcycle_observable"
			android:name = ".RXAndroidExamples.LifecycleObservableActivity"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_uibinding"
			android:name = ".RXAndroidExamples.UIBindingActivity"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_activity_test"
			android:name = ".RXAndroidExamples.ActivityTest"
			>

		</activity>
		<activity
			android:label = "@string/title_activity_activity_rx"
			android:name = ".ActivityRx"
			>
			<intent-filter>
				<action android:name = "android.intent.action.MAIN"/>

				<category android:name = "android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>

</manifest>
